* {
  margin: 0;
}

body {
  margin: 0;

  height: 100vh;
  width: 100vw;
}

.cookies {
  background-color: green;
  width: 50vw;
  height: 100px;

  text-align: center;

  position: absolute;
  bottom: 0vw;
  left: 25vw;

  animation: moveU 2s ease-in;
  animation-fill-mode: forwards;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 2vw;
}

.buttons {
  margin-top: 50px;
}

@keyframes moveUp {
  from {
    bottom: -10vw;
  }

  to {
    bottom: 0;
  }
}

@keyframes moveDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -10vw;
  }
}
